spring.security.oauth2.client.registration.google.client-id=[YOUR_CLIENT_ID]
spring.security.oauth2.client.registration.google.client-secret=[YOUR_CLIENT_SECRET]
spring.security.oauth2.client.registration.google.scope=profile,email
jwt.secret=[YOUR_JWT_SECRET_KEY]
jwt.access-token-validity-in-seconds=3600
jwt.refresh-token-validity-in-seconds=86400
