name: Testcontainers MySQL Test

on:
  push:
    branches:
      - feature/test-containers
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CI: true
      SPRING_PROFILES_ACTIVE: ci
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Generate secrets.properties
        run: |
          mkdir -p src/main/resources
          echo "${{ secrets.SECRETS_PROPERTIES }}" > src/main/resources/secrets.properties

      - name: Run tests with Gradle
        run: ./gradlew clean test --info
